:root {
  --inkdarkest: rgba(6, 6, 6, 1);
  --large-none-medium-font-family: "Quicksand-Medium", Helvetica;
  --large-none-medium-font-size: 18px;
  --large-none-medium-font-style: normal;
  --large-none-medium-font-weight: 500;
  --large-none-medium-letter-spacing: 0px;
  --large-none-medium-line-height: 18px;
  --large-none-regular-font-family: "Quicksand-Regular", Helvetica;
  --large-none-regular-font-size: 18px;
  --large-none-regular-font-style: normal;
  --large-none-regular-font-weight: 400;
  --large-none-regular-letter-spacing: 0px;
  --large-none-regular-line-height: 18px;
  --primarybase: rgba(40, 180, 91, 1);
  --primarydarkest: rgba(35, 156, 79, 1);
  --primarylighter: rgba(116, 221, 155, 1);
  --primarylightest: rgba(230, 246, 236, 1);
  --regular-none-medium-font-family: "Quicksand-Medium", Helvetica;
  --regular-none-medium-font-size: 16px;
  --regular-none-medium-font-style: normal;
  --regular-none-medium-font-weight: 500;
  --regular-none-medium-letter-spacing: 0px;
  --regular-none-medium-line-height: 16px;
  --regular-none-regular-font-family: "Quicksand-Regular", Helvetica;
  --regular-none-regular-font-size: 16px;
  --regular-none-regular-font-style: normal;
  --regular-none-regular-font-weight: 400;
  --regular-none-regular-letter-spacing: 0px;
  --regular-none-regular-line-height: 16px;
  --regular-normal-regular-font-family: "Quicksand-Regular", Helvetica;
  --regular-normal-regular-font-size: 16px;
  --regular-normal-regular-font-style: normal;
  --regular-normal-regular-font-weight: 400;
  --regular-normal-regular-letter-spacing: 0px;
  --regular-normal-regular-line-height: 24px;
  --skybase: rgba(185, 185, 185, 1);
  --skydarkest: rgba(161, 161, 161, 1);
  --skylight: rgba(221, 221, 225, 1);
  --skylighter: rgba(232, 232, 232, 1);
  --skywhite: rgba(255, 255, 255, 1);
  --small-none-medium-font-family: "Quicksand-Medium", Helvetica;
  --small-none-medium-font-size: 14px;
  --small-none-medium-font-style: normal;
  --small-none-medium-font-weight: 500;
  --small-none-medium-letter-spacing: 0px;
  --small-none-medium-line-height: 14px;
  --small-none-regular-font-family: "Quicksand-Regular", Helvetica;
  --small-none-regular-font-size: 14px;
  --small-none-regular-font-style: normal;
  --small-none-regular-font-weight: 400;
  --small-none-regular-letter-spacing: 0px;
  --small-none-regular-line-height: 14px;
  --tiny-none-medium-font-family: "Quicksand-Medium", Helvetica;
  --tiny-none-medium-font-size: 12px;
  --tiny-none-medium-font-style: normal;
  --tiny-none-medium-font-weight: 500;
  --tiny-none-medium-letter-spacing: 0px;
  --tiny-none-medium-line-height: 12px;
  --title-2-font-family: "Quicksand-Bold", Helvetica;
  --title-2-font-size: 32px;
  --title-2-font-style: normal;
  --title-2-font-weight: 700;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 36px;
}
